html, *{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

/* LAYOUT */
.header-container{
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 0.9em 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-header{
    position: relative;
    z-index: 1;
    height: 100vh;
}

.hero-header-media{
    height: 100%;
}

.hero-header-headline{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 4em;
    
    display: flex;
    align-items: flex-end;
}

.header-menu-nav ul{
    font-size: 0.8rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.destination-section, .unmissables-section, .around-toulouse-section{
    padding: 3em 0;
}

.around-toulouse-section{
    text-align: center;
}

.destination-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.unmissables-images, .around-toulouse-images{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 1em 0;
}

.card-img{
    position: relative;
    flex-grow: 1;
    flex-basis: 400px;
}

.card-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    padding: 4em;
}

footer{
    padding: 3em 0;
    text-align: center;
}

.contact{
    margin-top: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}


/* BACKGROUND */

.black-background{
    background-color: black;
}

/* TYPOGRAPHY */
h1, h2, h3, p{
    margin: 0;
}

h1{
    font-size: 2.5rem;  
}

h2{
    font-size: 2rem;
}

h3{
    color: #e71b7e;
    margin: 0.625em 0;
}

p{
    line-height: 1.5;
}

.light-color{
    color: whitesmoke;
}

/* IMAGES & VIDEOS */
.hero-header-video{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-img{
    width: 80px;
}

.destination-img{
    width:100%;
    border-radius: 1em;
}

.unmissable-img, .around-toulouse-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ICONS */

i{
    font-size: 2em;
}

/* LINKS */
a{
    cursor: pointer;
    text-decoration: none;
}

.nav-link{
    font-weight: 600;
    color: black;
}

.nav-link:hover, .nav-link:focus, .nav-link:active{
    color: #e71b7e;
}

.contact-link{
    color: #e71b7e;
}

.contact-link:hover, .contact-link:focus, .contact-link:active{
    color: whitesmoke;
}

.btn-link{
    display: inline-block;
    margin: 1em 0;
    padding: 1em 2em;
    border-radius: 2em;
    background: linear-gradient(90deg, #e30613 0%, #e71b7e 100%);;
    color: whitesmoke;
    font-weight: 800;
    text-decoration: none;
}

.btn-link:hover{
    background: black;
    color: #e71b7e;
}

/* MEDIAS */


@media (max-width: 767px){
    .destination-section, .unmissables-section{
        text-align: center;
    }
}


@media (min-width: 768px)  {

    /* LAYOUT */
    .destination-grid{
        flex-direction: row;
        align-items: center;
    }

    /* TYPOGRAPHY */
    h1{
        font-size: 4rem;
    }

    .destination-section h2, .destination-section h3{
        text-align: center;
    }

    .header-menu-nav ul{
        font-size: 1rem;
    }

    /* IMAGES */

    .logo-img{
        width: 150px;
    }

    .destination-img{
        width:50%;
    }

    /* LINKS */

    .btn-links{
        text-align: center;
    }
    
}

